.subheader {
  display: flex;
  background-color: darkred;

  &__tab {
    font-size: 17px;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:first-child {
        border-top-right-radius: 8px;
    }
    &:last-child {
        border-top-left-radius: 8px;
    }
  }
}

.selected {
  background-color: white;
  color: black;
}
