.login {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
  }

  & > button {
    color: white;
    background-color: #D6112E;
  }
}
