.register {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    padding: 10px 0 20px 0;
  }

  &__register {
    color: white;
    background-color: #D6112E;
  }

  &__login {
    color: white;
    background-color: #9fb9c9;
  }
}
