<app-navbar
  (back)="logout()"
  (refresh)="getTickets()"
  title="Cartera de billetes"
></app-navbar>
<app-subheader (tab)="mode = $event"></app-subheader>
<div class="home">
  <div class="home__ticket" *ngFor="let ticket of tickets">
    <div class="home__ticket__info">
      <strong>Billete sencillo</strong>
      <strong [style.color]="ticket.activated_at ? 'green' : ''">{{
        ticket.activated_at ? "ACTIVO" : "INACTIVO"
      }}</strong>
    </div>
    <hr />
    <div class="home__ticket__date">
      <span *ngIf="ticket.activated_at && ticket.expires_at; else unused">Usado</span>
      <ng-template #unused>
        <span *ngIf="ticket.activated_at">Caduca en {{ticket.activated_at | minDiff : now}} minutos</span>
        <span *ngIf="!ticket.activated_at">Caduca {{ticket.expires_at | date : "dd/MM/YYYY HH:mm"}}</span>
      </ng-template>
    </div>
  </div>
</div>
